<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="team work">
    <meta name="keywords" content="team work">
    <meta name="author" content="Sagini Emmanuel">
    <title> TeamWork |About Us</title>
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <!-- Heading Point -->
    <header>
        <div id="branding" class="container">
            <a href="landing_page.html"><img src="../images/team-royal.jpg" class="team-avatar"></a>
        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <nav>
                            <ul>
                                <li><a href="landing_page.html">Home</a></li>
                                <li><a href="wall.html">Wall Page</a></li>
                                <li class="current"><a href="about.html">About Us</a></li>
                                <li><a href="sign_up.html">Sign Up</a></li>
                                <li><a href="sign_in.html">Sign In</a></li>
                            </ul>
                        </nav </div>
                    </div>
                </div>
            </div>
    </header>

    <!-- Main Area -->
    <main id="main">
        <!-- Section A -->
        <section id="section-a" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">Collaborative Interaction</h2>
                <div class="content-text">
                    <p> "Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results." <br> – Andrew
                        Carnegie <br> "No matter how brilliant your mind or strategy, if you’re playing a solo game, you’ll always lose out to a team." <br> – Reid Hoffman

                    </p>
                </div>
            </div>
        </section>

        <!-- Section B -->
        <section id="section-b" class="grid">
            <ul>
                <li>
                    <div class="card">
                        <img src="../images/fists.jpg" alt="hands">
                        <div class="card-content">
                            <h3 class="card-title">Team Building</h3>
                            <p>"The strength of the team is each individual member. The strength of each member is the team." <br> – Phil Jackson</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="../images/team-work.jpg" alt="fingers">
                        <div class="card-content">
                            <h3 class="card-title">Effective Communication</h3>
                            <p>"Cooperation is the thorough conviction that nobody can get there unless everybody gets there." <br> – Virginia Burden </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <img src="../images/wevening.jpg" alt="sunset-photo">
                        <div class="card-content">
                            <h3 class="card-title">Unity in Diversity</h3>
                            <p>"The way a team plays as a whole determines its success. You may have the greatest bunch of individual stars in the world, but if they don’t play together, the club won’t be worth a dime." <br> – Babe Ruth </p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <!-- Section C -->
        <section id="section-c" class="grid">
            <div class="content-wrap">
                <h2 class="content-title">We keep you in the loop</h2>
                <p>"Effectively, change is almost impossible without industry-wide collaboration, cooperation, and consensus." <br>– Simon Mainwaring</p>
            </div>
        </section>

        <!-- Section D -->
        <section id="section-d" class="grid">
            <div class="box">
                <h2 class="content-title">Contact Us</h2>
                <p>We're here to help, anytime you need us. Whether you have a question or are reporting a problem, contact us and we will respond as quickly as possible.</p>
                <p>contact@socialnetwork.solutions</p>
            </div>
            <div class="box">
                <h2 class="content-title">Our Social Interaction</h2>
                <p>Teamwork is an internal social network for organizations’ employees. The goal of this application is to facilitate more interaction between colleagues and facilitate team bonding.</p>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer id="main-footer" class="grid">
        <div>Internal Social Network</div>
        <div>Project By <a href="#">Sagini Emmanuel</a></div>
    </footer>
</body>

</html>