<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Team work">
    <meta name="keywords" content="Team work">
    <meta name="author" content="Sagini Emmanuel">
    <title> TeamWork |Welcome</title>
    <link rel="stylesheet" href="../css/landing_page.css">
</head>

<body>
    <!-- Heading Point -->
    <header>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <nav>
                            <ul>
                                <li class="current"><a href="landing_page.html">Home</a></li>
                                <li><a href="wall.html">Wall Page</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="sign_up.html">Sign Up</a></li>
                                <li><a href="sign_in.html">Sign In</a></li>
                            </ul>
                        </nav </div>
                    </div>
                </div>
            </div>
    </header>

    <section id="showcase">
        <a href="./sign_up.html" class="sign-button">>>Create an account</a>
        <div class="background-image"></div>
        <div class="background-veil"></div>
        <h1>Welcome To The Team</h1>
        <p>Teamwork is an internal social network for organizations’ employees. The goal of this application is to facilitate more interaction between colleagues and facilitate team bonding. Teamwork is the collaborative effort of a group to achieve a common
            goal or to complete a task in the most effective and efficient way. This concept is seen within the greater framework of a team, which is a group of interdependent individuals who work together towards a common goal.
        </p>
        <a href="./about.html" class="button">More About Us</a>
    </section>
    <section id="section">
        <p>"None of us, including me, ever do great things. But we can all do small things, with great love, and together we can do something wonderful." – Mother Teresa <br><br> "Something incredible happens when teamwork happens the way it's supposed to
            happen. Things change when everyone on the team is equally invested in the overall purpose and goal. You find yourself working faster, finding mistakes more easily, and innovating better." -- Sir_ghini</p>
    </section>
</body>
<footer>
    <p>Sagini Web Design, Copyright &copy;2019</p>
</footer>

</html>