<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Team work">
    <meta name="keywords" content="Team work">
    <meta name="author" content="Sagini Emmanuel">
    <title> TeamWork |Profile</title>
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body>
    <!-- Heading Point -->
    <header>

        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu" id="nav">
                <div>
                    <div>
                        <nav>
                            <ul>
                                <li><a href="landing_page.html">Home</a></li>
                                <li><a href="wall.html">Wall Page</a></li>
                                <li><a href="my_posts.html">My posts</a></li>
                                <li class="current"><a href="profile.html">My Profile</a></li>
                                <li><a href="landing_page.html">Sign Out</a></li>
                            </ul>
                        </nav </div>
                    </div>
                </div>
            </div>
    </header>
    <section class="container">
        <div id="left-container" class="left-container">
            <div class="upper-container">
                <div class="image-container">
                    <img src="../images/begin.jpg" />
                </div>
            </div>

            <div class="lower-container">
                <div>
                    <h3>Sagini Emmanuel</h3>
                    <h4>Software Developer</h4>
                </div>
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, dicta.</p>
                </div>
                <div>
                    <a href="#" class="btn">Update your profile</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>