<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="team work">
    <meta name="keywords" content="team work">
    <meta name="author" content="Sagini Emmanuel">
    <title> TeamWork |Reset Password</title>
    <link rel="stylesheet" href="../css/sign_in.css">
</head>

<body>
    <!-- Heading Point -->
    <header>
        <div id="branding" class="container">
            <a href="landing_page.html"><img src="../images/team-royal.jpg" class="team-avatar"></a>
        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <nav>
                            <ul>
                                <li><a href="landing_page.html">Home</a></li>
                                <li><a href="wall.html">Wall Page</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="sign_up.html">Sign Up</a></li>
                                <li><a href="sign_in.html">Sign In</a></li>
                            </ul>
                        </nav </div>
                    </div>
                </div>
            </div>
    </header>
    <!-- Alert box section -->
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>
    <section>
        <div id="resetPasswordBox" class="signinbox">

            <h1>Reset you password</h1>
            <form>
                <p>Username</p>
                <input id="name" type="text" name="" placeholder="Enter your username" required>
                <p>Email</p>
                <input id="email" type="email" name="" placeholder="example@sagini.com" required>
                <input type="submit" name="" value="Reset Password" onclick="Alert.render('We just sent you an email to confirm your new password reset.')">
                <a href="sign_in.html">Already have an account?</a><br>
                <a href="sign_up.html">Don't have an account?</a>
            </form>
        </div>
    </section>
    <footer>
        <p>Sagini Web Design, Copyright &copy;2019</p>
    </footer>
    <script src="../js/alert.js"></script>

</body>

</html>