<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="team work">
    <meta name="keywords" content="team work">
    <meta name="author" content="Sagini Emmanuel">
    <title> TeamWork |Sign In</title>
    <link rel="stylesheet" href="../css/sign_in.css">
</head>

<body>
    <!-- Heading Point -->
    <header>
        <div id="branding" class="container">
            <a href="landing_page.html"><img src="../images/team-royal.jpg" class="team-avatar"></a>
        </div>
        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <div>
                    <div>
                        <nav>
                            <ul>
                                <li><a href="landing_page.html">Home</a></li>
                                <li><a href="wall.html">Wall Page</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="sign_up.html">Sign Up</a></li>
                                <li class="current"><a href="sign_in.html">Sign In</a></li>
                            </ul>
                        </nav </div>
                    </div>
                </div>
            </div>
    </header>

    <section>
        <div class="signinbox">

            <h1>Sign In Here</h1>
            <form>
                <p>Email</p>
                <input type="email" name="" placeholder="example@sagini.com" required>
                <p>Password</p>
                <input type="password" name="" placeholder="Enter Password" required><br>

                <a id="user" href="wall.html">User Sign In</a><br><br><br>
                <a id="admin" href="admin_page.html">Admin Sign In</a><br><br><br>


                <a href="reset_password.html">Lost your password?</a><br>
                <a href="sign_up.html">Don't have an account?</a>
            </form>

        </div>
    </section>

    <footer>
        <p>Sagini Web Design, Copyright &copy;2019</p>
    </footer>
</body>

</html>