<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Team work">
    <meta name="keywords" content="Team work">
    <meta name="author" content="Sagini Emmanuel">
    <title> TeamWork |Wall</title>
    <link rel="stylesheet" href="../css/my_posts.css">
</head>

<body>
    <!-- Heading Point -->

    <div id="branding" class="container">
        <a href="landing_page.html"><img src="../images/team-royal.jpg" class="team-avatar"></a>
    </div>
    <header>

        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu" id="nav">
                <div>
                    <div>
                        <nav>
                            <ul>
                                <li><a href="landing_page.html">Home</a></li>
                                <li class="current"><a href="wall.html">Wall Page</a></li>
                                <li><a href="my_posts.html">My posts</a></li>
                                <li><a href="profile.html">My Profile</a></li>
                                <li><a href="landing_page.html">Sign Out</a></li>
                            </ul>
                        </nav </div>
                    </div>
                </div>
            </div>
    </header>
    <!-- Alert box section -->
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"></div>
        </div>
    </div>
    <section class="container">
        <div id="left-container" class="left-container">
            <div class="upper-container">
                <div class="image-container">
                    <img src="../images/begin.jpg" />
                </div>
            </div>

            <div class="lower-container">
                <div>
                    <h3>Sagini Emmanuel</h3>
                    <h4>Software Developer</h4>
                </div>
                <div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, dicta.</p>
                </div>
                <div>
                    <a href="profile.html" class="btn">View profile</a>
                </div>
            </div>
            <section id="mentors">
                <h1>Search a Specific Article</h1>
                <form id="search-article">
                    <input type="text" placeholder="Type article name title please...">
                </form>
            </section>
        </div>

        <div class="middle-container" id="middle-container">
            <ul>
                <li class="form-container">
                    <form action="#">
                        <h1>Share a new article here</h1><br>
                        <textarea cols="50" rows="15">Write an article here...</textarea>
                    </form>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Share this article</a>
                </li>
                <li>
                    <h1>A new beginning</h1>
                    <img src="../images/begin.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>

                <li>
                    <h1>Keep up the good fight <span style="italic">- 12hours ago </span></h1>
                    <img src="../images/fists.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="delete">Flag</a>

                </li>

                <li>
                    <h1>Holding Hands</h1>
                    <img src="../images/hands.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Update</a>
                    <a href="#" class="delete">Delete</a>

                </li>

                <li>
                    <h1>Together we stand</h1>
                    <img src="../images/team.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Update</a>
                    <a href="#" class="delete">Delete</a>

                </li>

                <li>
                    <h1>Unity in diversity</h1>
                    <img src="../images/wevening.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Update</a>
                    <a href="#" class="delete">Delete</a>

                </li>

                <li>
                    <h1>Team-work, key-work</h1>
                    <img src="../images/team-work.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Update</a>
                    <a href="#" class="delete">Delete</a>

                </li>

                <li>
                    <h1>A new start</h1>
                    <img src="../images/begin.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Update</a>
                    <a href="#" class="delete">Delete</a>
                </li>

                <li>
                    <h1>Bold and verity</h1>
                    <img src="../images/fists.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Update</a>
                    <a href="#" class="delete">Delete</a>
                </li>

                <li>
                    <h1>A new beginning</h1>
                    <img src="../images/begin.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Update</a>
                    <a href="#" class="delete">Delete</a>
                </li>

                <li>
                    <h1>A new beginning</h1>
                    <img src="../images/begin.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>Africanna</h1>
                    <img src="../images/african.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>Keep the Bond</h1>
                    <img src="../images/bonding.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>Keep up the good fight</h1>
                    <img src="../images/fists.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>Bumpy Bump</h1>
                    <img src="../images/bump.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>Tingg!!</h1>
                    <img src="../images/idea.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>Holding Hands</h1>
                    <img src="../images/hands.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>EPI'C' Collaboration </h1>
                    <img src="../images/collaboration.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>

                </li>
                <li>
                    <h1>Together we stand</h1>
                    <img src="../images/team.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>Unity in diversity</h1>
                    <img src="../images/wevening.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>Team-work, key-work</h1>
                    <img src="../images/team-work.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More</a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>A new start</h1>
                    <img src="../images/begin.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More >></a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
                <li>
                    <h1>Bold and verity</h1>
                    <img src="../images/fists.jpg">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.</p>
                    <a href="#" class="btn">Read More >></a>
                    <a href="#" class="btn">Comment</a>
                    <a href="#" class="btn" onclick="Alert.render('You are just about to flag this article')">Flag</a>
                </li>
            </ul>
            <div>
                Korem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Korem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>
            <div>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, harum.

            </div>

        </div>
        <div class="right-container">
            <h1>Members Active</h1>
            <ul>
                <li>Sagini Emmanuel (You)</li>
                <li>Teddy Ouma</li>
                <li>Calvin Carlos</li>
                <li>Welesley Modric</li>
                <li>Talanta Bundi</li>
                <li>Dylan Batito</li>
                <li>Reyleigh Bridge</li>
                <li>Gaussian Friedrich</li>
                <li>Goodyear Brown</li>
                <li>Lavington Saina</li>
                <li>Wellington Marita</li>
                <li>Colby Bryant</li>

            </ul>
        </div>
    </section>
    <footer>
        <p>Sagini Web Design, Copyright &copy;2019</p>
    </footer>
    <script src="../js/sticky.js"></script>
    <script src="../js/flag_alert.js"></script>
    <script src="../js/filter.js"></script>
</body>

</html>